<table style="width: 90%; margin-top: 20px" border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Industry</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let g of companies">
            <td>{{g.name}}</td>
            <td>{{g.industry}}</td>
        </tr>
    </tbody>
</table>

<input type="button" value="New Company" (click)="openNewCompany()"/>