<form [formGroup]="NewCompany">

    Company Name:
    <input type="text" formControlName="companyName"/>
    <br/>
    Select Industry
    <select formControlName="industryName">
        <option *ngFor="let x of industries" [value]="x.id">{{x.name}}</option>
    </select>
    <br/>
    <br/>
</form>
<input type="button" value="Save Company" (click)="save()"/>
