<form [formGroup]="NewJob">

    Job Name:
    &nbsp;
    <input formControlName="jobName" type="text" />
    <br/>
    Description
    &nbsp;
    <input formControlName="description" type="text" />
    <br/>

    Seniority
    &nbsp;
    <select formControlName="seniority">
        <option value="J">Júnior</option>
        <option value="P">Pleno</option>
        <option value="S">Sênior</option>
    </select>
    <br/>

    Salary Value
    &nbsp;
    <input formControlName="salary" type="number" formControlName="salario"/>
    <br/>
    <br/>


    Select an company:
    <select formControlName="company">
        <option *ngFor="let e of companies" [value]="e.id">{{e.name}}</option>
    </select>

    <br/>
    <br/>
</form>
<input type="button" value="Save" (click)="save()" />